#root {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /* background-color: #0a2340; */
  background-image: linear-gradient(#ff0103 0%, #e00000 8%, #c40202 16%, #900000 32%, #460000 66%, #100000 100%);
  color: #f7f6f2;
}

a {
  color: #900000 !important;
}

#brandLink {
  color: #f7f6f2 !important;
}

#navbar {
  background-color: #100000;
}

#navbarScrollingDropdown {
  background-color: #100000 !important;
}

#homeGuest {
  min-height: 75vh;
  width: 100%;
  margin: 28px 0px 28px 0px;
  padding: 16px;
  display: flex;
  justify-content: space-around;
}

#homeGuestImage {
  height: 50%;
  width: 50%;
}

#loginSubmit {
  background-color: #460000;
}

#devTest {
  border: 1px solid black;
  border-radius: 8px;
  margin: 14px;
  padding: 8px;
  background-color: #606773;
}

#devSign {
  background-color: #1f3e70;
}

/* Home (profile) component styling */

#profileContainer {
  height: 100lvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile {
  background-color: #1f3e70;
  height: 90lvh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  padding: 8px;
}

#collection {
  background-color: #100000;
  height: 75lvh;
  width: 95%;
}

#signOut {
  padding: 16px;
}
